@use 'variaveis';

.footer {
    padding: 26px 8px;
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

    &__logo {
        width: 200px;
        margin: 0 auto 10px;
    }

    &__links {
        margin-bottom: 16px;
        display: inline-flexbox;
        align-items: center;
        
        @media (max-width: 768px) {
            display: block;
        }

        @media (min-width: 641px) and (max-width: 1023px) {
            display: block;
        }

        &__item {
            display: inline-block;
            margin-left: 3.5%;


            a {
                text-decoration: none;
                padding: 8px 16px;
                display: block;
            }
        }
    }
}